<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True North - History</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="detailedcontainer">
    <div class="header-row">
    <a href="/"><h1>True North</h1></a>
    <p>Memory ain't a map, it's a mirror. Clarity comes slow but hits hard.</p>
  </div>
    <div class="history-grid" id="detailedHistory"></div>
  </div>

  <div class="weekly-grid" id="weeklyGrid">
    <ul id="weekly-day"></ul>
  </div>

  <!--<div class="weekly-grid" id="weeklyGrid">
      <div class="weekly-day" data-day="Monday">Monday</div>
      <div class="weekly-day" data-day="Tuesday">Tuesday</div>
      <div class="weekly-day" data-day="Wednesday">Wednesday</div>
      <div class="weekly-day" data-day="Thursday">Thursday</div>
      <div class="weekly-day" data-day="Friday">Friday</div>
      <div class="weekly-day" data-day="Saturday">Saturday</div>
      <div class="weekly-day" data-day="Sunday">Sunday</div>
    </div> -->
  
  

  <script src="../static/script.js"></script>
</body>
</html>