<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True North - History</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <!--<div class="container">
    <h1>True North</h1>
    <p>Truth leaves clues. Find rhythm in the silence.</p>
    <div class="section" style="background-color: #b0a8b9;">
      <h3>History</h3>
      <ul id="historyList"></ul>
    </div>
  </div>-->
  <div class="histcontainer">
    <div class="header-row">
    <a href="/options"><h1>True North</h1></a>
    <p>Truth leaves clues. Find rhythm in the silence.</p>
  </div>
    <div class="rearview-container">
      <div class="section history">
        <h3>History</h3>
      </div>
      <div class="rearview" style="background-color: #4a6da7;">
        <div class="rearview-section">
          <h3>Emotional Range</h3>
          <ul id="emotionalRange"></ul>
        </div>
        <div class="rearview-section">
          <h3>Trail Marks</h3>
          <ul id="trailMarks"></ul>
        </div>
        <div class="rearview-section">
          <h3>Recent Risk Levels</h3>
          <ul id="riskLevels"></ul>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>