<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True North - Journal</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="journal-container">
    <div class="header-row">
      <a href="/options"><h1>True North</h1></a>
      <p>You are the author of your life. Turn the page, own the story.</p>
    </div>
  </div>

  <div class="journal-text-body">
    <textarea id="journalInput" placeholder="Lay down that fresh entry. Put it down and see what shows up..."></textarea>
  </div>

  <div class="journal-buttons">
    <div>
      <form action="/submit" method="post" onsubmit="copyTextareaToHidden()">
        <input type="hidden" name="text" id="hiddenTextInput">
        <button id="saveButton" type="submit">Save Entry</button>
      </form>
    </div>

    <div>
      <form action="/detailed_history" method="post">
        <button id="SummaryButton" type="submit">Summary</button>
      </form>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
