<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True North - Options</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="option-container">
     <div class="header-row">
    <a href="/"><h1>True North</h1></a>
    <p>Your heart's whispers become the compass for growth. Live light and travel deep.</p>
  </div>
    <br><br><br><br><br>
    <div class="options">
      <form action="/journal" method="post">
        <button class="green-btn" type="submit" >Fresh Entry</button>
      </form>

      <form action="/history" method="post">
          <button class="blue-btn" type="submit" >Rearview</button>
        </form>

    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>