<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True North - Welcome</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="container">
    <a href="/"><h1>True North</h1></a>
    <p>Private place to turn inward</p>
    <form action="/options" method="post">
          <button class="nav-btn" type="submit">Let's Roll</button>
        </form>
  </div>
  
  <script src="../static/script.js"></script>
</body>
</html>